<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shy.lunbotu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/timg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".lunbotu.LunBoTuActivity"/>
        <activity android:name=".myView.pintOrCanvas.paint.MyViewActivity"/>
        <activity android:name=".myView.tpbz.TpbzActivity"/>
        <activity android:name=".myView.ggk.GgkActivity"/>
        <activity android:name=".myView.pintOrCanvas.jb.JbACtivity"/>
        <activity android:name=".myView.pintOrCanvas.lphz.LphzActivity"/>
        <activity android:name=".load.SplashActivity"/>
        <activity android:name=".path.PathActivity"/>
        <activity android:name=".path.PathMeasureActivity"/>
        <activity android:name=".pmsp.PmspActivity"/>
        <activity android:name=".pmsp.BfbspAvtivity"/>
        <activity android:name=".pmsp.BaseActivity"/>
        <activity android:name=".pmsp.DensityActivity"/>
        <activity android:name=".pmsp.LhpspActivity"/>
        <activity android:name=".materialDesign.MaterialDesignActivity"/>
    </application>

</manifest>